<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hls.happylifestyle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Happy Lifestyle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InspectFoodActivity"></activity>
        <activity android:name=".AddFoodActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainUserActivity" />
        <activity android:name=".CreateNewMenuActivity" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".SeeMenuActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>